@using TradingPlatform.EntityContracts.Enums
@model TradingPlatform.EntityContracts.Complaint.ComplaintCreateDto

@{
    ViewData["Title"] = "Edit Complaint";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="text-center">Edit Complaint</h2>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreationDate" class="form-control" value="@Model.CreationDate"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" value="@Model.Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" value="@Model.Type"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between accordion-body mt-2">
                <input type="submit" value="Submit" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}